.login-container {
    background-color: #bddae0;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.login-logo {
    width: 100px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #258cfb;
    box-shadow: 0 0 0 0.2rem rgba(37, 140, 251, 0.25);
    outline: none;
}
